@import 'colors';

body {
    font-family: 'Inter', sans-serif;
    background: $main-color-light;
    margin: 0;
}

body.dark-mode {
    background: $main-color-night;
    color: $text-color-light;

    input[type="number"], button {
        background-color: $text-color-dark;
        color: $text-color-light;
        border: 1px solid $secondary-color;
    }

    #result {
        color: $text-color-light;
    }
}

body.light-mode {
    background: $main-color-light;
    color: $text-color-dark;

    input[type="number"], button {
        background-color: $main-color-light;
        color: $text-color-dark;
        border: 1px solid lighten($secondary-color, 20%);
    }

    #result {
        color: $text-color-dark;
    }
}

.container {
    margin: 20px auto;
    max-width: 200px;

    label {
        font-size: 18px;
        margin-bottom: 10px;
        display: block;
    }

    .gender-group {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 15px;

        label {
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 16px;
            margin: 0;
        }
    }

    input[type="number"] {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid $secondary-color;
        border-radius: 16px;
        width: 100%;
    }

    button {
        background-color: $btn-bg-color;
        color: $text-color-light;
        border: none;
        padding: 10px 20px;
        border-radius: 16px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: $btn-hover-bg-color;
        }
    }

    #result {
        margin-top: 20px;
        font-size: 20px;
        color: $text-color-dark;
    }
}

