$main-color-light: #f9f9f9;
$main-color-night: #1f2937;
$text-color-dark: #1f2937;
$text-color-light: #f9f9f9;
$secondary-color: #555;
$btn-bg-color: #1f2937;
$btn-bg-color-light: #e2e8f0;
$btn-hover-bg-color: #555;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$box-shadow-hover-color: rgba(0, 0, 0, 0.2);
