@import 'colors';

.navbar {
    background-color: $main-color-night;
    color: $text-color-light;
    border-radius: 16px;
    box-shadow: 0 4px 12px $box-shadow-color;
    padding: 20px 30px;
    margin: 10px 20px;

    .navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        color: $text-color-light;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 8px;

        .logo-text {
            display: inline;
        }
    }

    .navbar-links {
        list-style: none;
        display: flex;
        gap: 20px;

        li a {
            text-decoration: none;
            color: $text-color-light;
            font-size: 18px;
            padding: 10px 15px;
            border-radius: 10px;

            &:hover {
                background-color: $secondary-color;
            }
        }
    }

    .hamburger {
        display: none;
        color: $text-color-light;
        font-size: 24px;
        cursor: pointer;
    }
}

.theme-toggle {
    font-size: 20px;
    color: $text-color-light;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;

    &:hover {
        transform: scale(1.2);
        color: lighten($text-color-light, 20%);
    }
}

@media (max-width: 768px) {
    .navbar {
        .navbar-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .navbar-links {
            display: none;
            flex-direction: column;
            gap: 10px;

            &.active {
                display: flex;
            }
        }

        .hamburger {
            display: block;
        }

        .logo .logo-text {
            display: none;
        }
    }
}
