@import 'colors';
body {
    font-family: 'Inter', sans-serif;
    background: $main-color-light;
    margin: 0;
}

body.dark-mode {
    background: $main-color-night;
    color: $text-color-light;
    .main {
        .container {
            h1 {
                color: $text-color-light;
            }
            p {
                color: $text-color-light;
            }
        }
    }
    .block-container {
      display: flex;
      justify-content: flex-end;

      .block {
          background-color: $main-color-night;
          border-radius: 16px;
          margin: 20px;
          box-shadow: 0 4px 12px $box-shadow-color;
          padding: 15px;
          text-align: center;
          transition: transform 0.3s ease, box-shadow 0.3s ease;

          i {
              font-size: 40px;
              color: $text-color-light;
              margin-bottom: 10px;
          }

          h2 {
              font-size: 24px;
              margin: 10px 0;
              color: $text-color-light;
          }

          p {
              font-size: 16px;
              color: $text-color-light;
              margin-bottom: 20px;
          }

          .btn {
              display: inline-block;
              background-color: $btn-bg-color-light;
              color: $text-color-dark;
              padding: 10px 20px;
              border-radius: 8px;
              text-decoration: none;
              font-size: 16px;
              transition: background-color 0.3s ease;

              &:hover {
                  background-color: $btn-hover-bg-color;
              }
          }

          &:hover {
              transform: scale(1.05);
              box-shadow: 0 6px 16px $box-shadow-hover-color;
          }
      }
  }

}

body.light-mode {
    background: $main-color-light;
    color: $text-color-dark;
    .block-container {
      display: flex;
      justify-content: flex-end;

      .block {
          background-color: $main-color-light;
          border-radius: 16px;
          margin: 20px;
          box-shadow: 0 4px 12px $box-shadow-color;
          padding: 15px;
          text-align: center;
          transition: transform 0.3s ease, box-shadow 0.3s ease;

          i {
              font-size: 40px;
              color: $text-color-dark;
              margin-bottom: 10px;
          }

          h2 {
              font-size: 24px;
              margin: 10px 0;
              color: $text-color-dark;
          }

          p {
              font-size: 16px;
              color: $secondary-color;
              margin-bottom: 20px;
          }

          .btn {
              display: inline-block;
              background-color: $btn-bg-color;
              color: $text-color-light;
              padding: 10px 20px;
              border-radius: 8px;
              text-decoration: none;
              font-size: 16px;
              transition: background-color 0.3s ease;

              &:hover {
                  background-color: $btn-hover-bg-color;
              }
          }

          &:hover {
              transform: scale(1.05);
              box-shadow: 0 6px 16px $box-shadow-hover-color;
          }
      }
  }
}

.main {
    display: block;

    .container {
        align-items: center;
        text-align: center;
        min-height: 40vh;
        margin-top: 30vh;
        h1 {
            font-family: 'Bebas Neue', sans-serif;
            font-size: 56px;
            letter-spacing: 2px;
            margin-bottom: 20px;
        }

        p {
            font-size: 20px;
            line-height: 1.5;
        }
    }

  }